@import '../../styles/abstract/variables';

.shopping-cart{
    background-color: $color-deep-space-sparkle-50;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 3;

    &__products-box{
        background-color: $color-white;
        border-radius: 20px;
        height: 60vh;
        margin: 0 auto;
        margin-top: 10vh;
        max-width: 453px;
        padding: 32px;

        @media screen and (max-width: $viewport-medium){
            height: 94vh;
            margin-top: 3vh;
            padding: 24px;
            width: 90%;
        }

        &__title, &__descent{
            color: $color-charleston-green;
            margin-bottom: 14px;
            text-align: center;
        }
    }
}
