/*
    Fonts
*/
$roboto: "Roboto", sans-serif;
$roboto-thin: 100;
$roboto-light: 300;
$roboto-regular: 400;
$roboto-medium: 500;
$roboto-bold: 700;
$roboto-black: 900;

/*
    Colors
*/
$color-isabelline: #F3E8EE;
$color-ash-grey: #BACDB0;
$color-xanadu: #729B79;
$color-xanadu-70: rgba($color-xanadu, .7);
$color-deep-space-sparkle: #475B63;
$color-charleston-green: #2E2C2F;

/*
    Brakpoints (Bootstrap reference)
*/
$viewport-small: 576px;
$viewport-medium: 768px;
$viewport-large: 992px;
$viewport-xlarge: 1200px;

/*
    Making CSS Vars
*/
:root {
    --roboto: $roboto;
    --font-thin: $font-thin;
    --font-light: $font-light;
    --font-regular: $font-regular;
    --font-medium: $font-medium;
    --font-bold: $font-bold;
    --font-black: $font-black;

    --color-isabelline: $color-isabelline;
    --color-ash-grey: $color-ash-grey;
    --color-xanadu: $color-xanadu;
    --color-xanadu-70: $color-xanadu-70;
    --color-deep-space-sparkle: $color-deep-space-sparkle;
    --color-charleston-green: $color-charleston-green;

    --viewport-small: $viewport-small;
    --viewport-medium: $viewport-medium;
    --viewport-large: $viewport-large;
    --viewport-xlarge: $viewport-xlarge;
}
