@import '../../../styles/abstract/variables';

.product{
    height: 100%;
    padding: 10px;
    text-align: center;

    &:hover{
        background-color: lighten($color-ash-grey, 20);
        border-radius: 10px;
    }

    figure{
        margin-bottom: 11px;

        img{
            height: 150px;
        }

        figcaption{
            display: none;
        }
    }

    h4{
        margin-bottom: 9px;
        text-transform: capitalize;
    }

    .icon-btn{
        cursor: pointer;
        margin-top: 10px;

        &.icon-check{
            cursor: initial;
            margin: 10px auto 0 auto;
        }
    }
}